# Preprocessing text

## Import libraries

In [3]:
# Basic libs 
import pandas as pd
import string

import re

# Custom functions
from clean_text import clean_tweet

# Import files

In [4]:
# Import CSV file 

df = pd.read_csv('/home/jae/hateasiancovid/processed_data/US_tweets.csv',
                 parse_dates = ['date'])

In [5]:
# 1,394,478 obs, 16 columns  

df.shape

(1394478, 16)

# Clean text

In [6]:
# Copy
df_clean = df.copy()

# Clean
df_clean['full_text'] = clean_tweet(df_clean['full_text'])

In [7]:
# Check 
df_clean.head()

,created_at,full_text,location,US,non_US,wuhan,asian,chinese,trump,date,anti_asian,chinese_virus,kung_flu,wuhan_virus,anti_racism,racism
0,Fri Jan 31 19:33:48 +0000 2020,my step dad got pneumonia and said he got the ...,"Los Angeles, CA",1,0,0,0,0,0,2020-01-31,0,0,0,0,0,0
1,Wed Jan 29 17:02:34 +0000 2020,coronavirus 133 dead out of 6091 infected 92...,"San Jose, CA",1,0,0,0,0,0,2020-01-29,0,0,0,0,0,0
2,Fri Jan 31 14:21:47 +0000 2020,thank you for helping to get information to d...,Delaware,1,0,0,0,0,0,2020-01-31,0,0,0,0,0,0
3,Wed Jan 29 21:57:23 +0000 2020,them asu students dirty af mfs got multiple s...,United States,1,0,0,0,0,0,2020-01-29,0,0,0,0,0,0
4,Tue Jan 28 14:00:27 +0000 2020,lord protect every one from the coronavirus,"Washington, DC",1,0,0,0,0,0,2020-01-28,0,0,0,0,0,0

# Export

In [9]:
df_clean = df_clean.drop(columns = ['created_at', 'location'])

In [10]:
df_clean.to_csv("/home/jae/hateasiancovid/processed_data/cleaned_data.csv")